html, body {
    overflow: hidden;
}

body.dynamicBackgroundImage {
    background: url(https://unsplash.it/1366/768/?random) #222 no-repeat top !important;
    background-size: cover !important;
}

.banner-viewport {
    padding-top: 10px;
}

.header-container {
    display: block;
}

.banner-iframe {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

.b-fieldset--type,
.b-fieldset__title {
    width: 98%;
    margin: 0 auto;
}

.b-fieldset--type {
    margin-bottom: 10px;
}

.b-fieldset__title {
    background: none;
}

.b-fieldset--type .b-fieldset__body {
    text-align: left;
}

.b-fieldset--type .b-form__field {
    width: auto;
    display: inline-block;
    margin: 0 20px 0 0;
}

.b-fieldset--type .b-field__label {
    font-size: 16px;
}

.b-fieldset--type .b-field__radio {
    margin: 0 4px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
}