@import '../mixins/*.styl'

.ip-mobile
    padding 20px 0
    width 1206px
    margin 0 auto
    
    .banner-preview
        width 640px
        min-height 200px

    .banner-preview-wrap
        margin 45px 0
    

    .b-products-banner
        position relative
        color #777
        font-size 13px
        padding 15px 15px 0px 15px
        background #fafafa
        border-bottom 1px solid #eee
        z-index 1
            
    .b-products-banner__title
        font(16px, 700, 15px)
        margin-bottom 4px

    .b-products-banner__description
        font-size 13px
        font-weight 300

    .b-products-banner__description_short
        font-size 16px
        -moz-user-select none
        user-select none

    .b-products-banner__conditions
        -moz-user-select none
        user-select none
        width 160px
        padding 11px 0 15px 0
        cursor pointer

    .b-products-banner__coupon
        position absolute
        bottom 15px
        right 15px
        letter-spacing 0.4px

    .b-products-banner__number
        font(16px, 400)
        letter-spacing 0px

    .b-products-banner__pane
        display: none

    @media (min-width: 650px)
        .b-products-banner__coupon
            position: relative
            top 0
            left 0

        .b-products-banner
            padding 13px 43px 18px

        .b-products-banner__description
            letter-spacing 0.6px

        .b-products-banner__description_short
            letter-spacing 0.6px

.main-container
    min-width 1206px