@import '../b-form'
@import '../elements/*.styl'

.b-main-vbanner
    &__preview
        background-color rgba(#000, .2)
        background-image linear-gradient(45deg, rgba(#000, .1) 25%, transparent 25%, transparent 75%, rgba(#000, .1) 75%, rgba(#000, .1)), linear-gradient(45deg, rgba(#000, .1) 25%, transparent 25%, transparent 75%, rgba(#000, .1) 75%, rgba(#000, .1));
        background-size 20px 20px
        background-position 0 0, 30px 30px
        padding 46px 20px
        margin 0 0 20px
        border-radius 5px
        
        &.widescreen
            padding 20px
        
        &-inner
            background-color rgba(#fff,.8)
            position relative
            margin auto
            box-sizing content-box
            width 621px
            height 481px
            
            .widescreen &
                width 778px
                height 602px      
    &__frame
        margin auto
        display block
        border none
        width 621px
        height 481px
        background-color #8a6d3b8a
        
        .widescreen &
            width 778px
            height 602px

    &__description
        width 621px
        height 481px
        display block
        position absolute
        top 0
        z-index 4

        .widescreen &
            width 778px
            height 602px

    &__text
        background-color #fff
        width 390px
        padding 18px 0
        text-align center
        position absolute
        bottom -50px
        margin-left auto
        margin-right auto
        left 0
        right 0

        .widescreen &
            width 429px

    &__title
        font-weight 600
        font-size 24px
        line-height 18px
        color #333
        margin 0
        padding-bottom 7px

        .widescreen &
            font-size 24px
            padding-bottom 10px

    &__subtitle
        font-weight 300
        font-size 13px
        line-height 18px
        color #888
        margin 0
        padding 0
