.premium-blog-banner-wrapper {
    width: 100%;
    padding: 20px 0 0;
}

.premium-blog-banner {
    width: 306px;
    height: 370px;
    display: block;
    position: relative;
    margin: 0 auto;
}

/*.html_wide*/ .premium-blog-banner {
    width: 388px;
    height: 433px;
}

.premium-blog-banner__item,
.premium-blog-banner__item:hover {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    
}
/*.html_wide*/ .premium-blog-banner__item {
    height: 100%;
}

.premium-blog-banner__image {
    width: 100%;
    height: 300px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.premium-blog-banner__text {
    width: 100%;
    padding: 16px 0 20px;
    margin: auto;
    z-index: 2;
}

/*.html_wide*/ .premium-blog-banner__text {
    padding: 16px 0 20px;
}

.premium-blog-banner__title {
    font(16px, 700, 22px)
    color: #222;
    margin: 0;
    padding-bottom: 10px;
}
/*.html_wide*/ .premium-blog-banner__title {
    font-size: 16px;
}

.premium-blog-banner__subtitle {
    font-size: 13px;
    line-height: 24px;
    color: #111;
}

/*.html_wide*/ .premium-blog-banner__subtitle {
    font-size: 13px;
    line-height: 24px;
}

.premium-blog-banner__button {
    line-height: 34px;
    font-size: 13px;
    color: #888 !important;
    transition: all .2s linear;
    margin: 7px 0 0; 
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
}

.premium-blog-banner:hover .premium-blog-banner__button,
.premium-blog-banner__button:hover {
    text-decoration: none;
}

/*.html_wide*/ .premium-blog-banner__button {
    font-size: 13px;  
    margin: 5px 0 0;  
}


/*form*/
.form-section {
    margin-top: 70px;
    padding: 0 20px;
}

.input-list {
    display: table;
    width: 100%;
    margin: 0 0 30px;
}

.input-list__cell {
    display: block;
    width: 180px;
    float: left;
    margin: 0 10px;
}

.input-list__label {
    margin-right: 10px;
    vertical-align: top;
}

.input-list__checkbox,
.input-list__number {
    width: 15px;
    display: inline-block;
    vertical-align: top;
    height: 21px;
    margin: 0;
}

.input-list__number {
    width: 75px;
}

.input-list__cell_w340 {
    width: 340px;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
}

.b-fieldset--timer .b-form__field {
    width: 200px;
}

.b-fieldset--timer .b-fieldset__row {
    width: 220px;
}

.b-fieldset--timer .b-field__checkbox[name="centred"],
.b-fieldset--timer .b-field__checkbox[name="centred"] + label,
.b-fieldset--timer .b-form__field + .b-form__field,
.b-fieldset--timer .b-field--size {
    display: none;
}

.b-fieldset--timer .b-field__checkbox[name="active"],
.b-field__checkbox {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0;
}

.b-field__checkbox[name="promoState"] {
    margin: -4px 2px 0;
}

.b-fieldset--timer .b-field--color {
    display: block !important;
}

.b-field--color .b-field__input {
    display: none;
}

.input-list__item_text {
    display: block;
    width: 100%;
    height: 70px;
    padding: 6px 12px;
    border-radius: 2px;
    outline: none;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}