@import '../../styles/mixins/*.styl'

.responsive-square
  padding-top 20px

  .banner-preview
    height 388px
    width 388px
    margin 0 auto
    position relative
    margin-bottom 30px

    &__plate
      position absolute
      bottom 20px
      left 20px
      right 20px
      padding 12px 10px 10px
      background-color rgba(255, 255, 255, .95)
      text-align center
      display block

    &__title
      font(24px, 700)

    &__sub-title
      font(16px)


  .banner-slide-form
    width 80%
    margin 0 auto