@import '../../styles/mixins/*.styl'

.responsive-horizontal
  padding-top 20px

  .banner-preview
    height 388px
    width 797px
    margin 0 auto
    position relative
    margin-bottom 30px

    &__plate
      position absolute
      width 388px
      right 0
      top 157px
      cursor move
      text-align center

    &__title
      font(24px, 700)

    &__sub-title
      font(16px)

  .banner-slide-form
    width 80%
    margin 0 auto