@font-face {
  font-family: 'CoFo Sans LaModa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('CoFo Sans'),
    local('CoFo_Sans-Regular'),
    url(./fonts/CoFo_Sans_LaModa-Regular.woff2) format('woff2'),
    url(./fonts/CoFo_Sans_LaModa-Regular.woff) format('woff');
}

// @font-face {
//   font-family: 'CoFo Sans LaModa';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src:
//     local('CoFo Sans'),
//     local('CoFo_Sans-Regular'),
//     url(fonts/CoFo_Sans_LaModa-Regular.woff2) format('woff2'),
//     url(fonts/CoFo_Sans_LaModa-Regular.woff) format('woff');
// }

// @font-face {
//   font-family: 'CoFo Sans LaModa';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src:
//     local('CoFo Sans'),
//     local('CoFo_Sans-Bold'),
//     url(styles/fonts/CoFo_Sans_LaModa-Bold.woff2) format('woff2'),
//     url(styles/fonts/CoFo_Sans_LaModa-Bold.woff) format('woff');
// }

// @font-face {
//   font-family: 'CoFo Sans LaModa';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     local('CoFo Sans'),
//     local('CoFo_Sans-Bold'),
//     url(styles/fonts/CoFo_Sans_LaModa-Bold.woff2) format('woff2'),
//     url(styles/fonts/CoFo_Sans_LaModa-Bold.woff) format('woff');
// }