$blue = #3b76b7
$red = #a94442
$h9maya = #283a20

$black = #333
$logo-opacity = .85
$border-radius = 0
$box-shadow = 0 0 16px 1px rgba(0, 0, 0, .15)

@import 'bannermaker.styl'
@import 'fonts.styl'
@import 'mixins/*.styl'

.bm-page
	display block
	padding 10px