.b-field
    &__textarea
    &__input
    &__select
        width 100%
        border solid 1px #ccc
        background-color #fff
        color #555
        padding 6px 12px
        border-radius 2px