.b-field-link
    .b-field
        &__block
            display table
            border solid 1px #ccc
            border-radius 4px
            margin 0 0 20px
            overflow hidden
            width 100%
            
        &__input
            margin 0
            border none
            
        &__switcher
            padding 6px 12px
            line-height 1
            display table-cell
            background #eee
            width 2em
            
            &:first-child
                border-right solid 1px #ccc
                
            &:last-child
                border-left solid 1px #ccc
            
    .b-switcher
        white-space nowrap
        
        &__input, &__label
            display inline-block
            margin 0
            
        &__input
            height auto
            width auto
            
        &__label
            margin 0 0 0 6px