// @import '../../styles/elements/*.styl'
// @import '../../styles/mixins/*.styl'
// @import '../../styles/b-form.styl'

a, a:hover {
    text-decoration: none;
}

.banner-viewport {
    padding-left: 10px;
}

.main-container {
    padding: 10px;
    margin: 10px;
    width: auto;
    box-sizing: border-box;
}

.app-banner {
    display: table-cell;
    vertical-align: middle;
    width: 320px;
    height: 142px;
    text-align: center;
    background: #ef5c6e;
    color: #fff;
    padding: 0 10px;
}

.app-banner__title {
    display: block;
    font(16px, 700, 25px)
    position: relative;
    margin: -3px 0 0;
}

.app-banner__description {
    display: block;
    font(13px, 500, 18px);
    margin: 3px 0 0;
}

.app-banner-promocode,
.app-banner-promocode:hover {
    display: inline-block;
    margin: 7px 0 0;
    padding: 10px 24px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    font(16px, 500, 1);
}

.app-banner-promocode__promo {
    
}

.app-banner-promocode__code {
    font(700);
}

.app-banner__conditions-button,
.app-banner__conditions-button {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font(16px, 20px, 18px)
    margin: 0 0 0 6px;
    position: relative;
    top: -2px;
}

.app-banner__conditions {
    display: none;
}



/*Настройки*/
.banner-settings {
    width: 100%;
    margin: 50px 0 0;
}

.b-field-link__label--switch {
  line-height: 42px;
  margin: 0 20px 0 0;
}

.b-switcher__input--radio {
  width: 15px;
  float: left;
  margin: 3px 4px 0 0;
}

.input-buttons {
  width: 25%;
  display: inline-block;
  margin-right: 10px;
}

.button-data {
  position: relative;
}

.button-data .b-form__field {
    width: 30%;
    display: inline-block;
    margin: 0 10px 0 0;
}

.b-fieldset {
  margin: 0 10px 10px;
}

.add_button {
    margin-bottom: 20px;
    background-color: #5cb85c;
    border: none;
    padding: 5px 20px;
    outline: none;
    color: #fff;
    border-radius: 3px;
    font(400);
    cursor: pointer;
}

.b-fieldset__button--del {
    cursor: pointer;
}

.bm-settings__fieldset_bottom-menu .b-form__field {
    float: left;
    margin: 0 20px 0 0;
    width: auto;
}

.b-fieldset__body {
    overflow: hidden;
}

.bm-page__markup {
    display: none;
}

.bm-page__preview {
    margin-bottom: 10px;
}

.bm-settings__fieldset:last-of-type {
    margin: 0 10px 10px;
}